In [24]:
import pandas as pd

In [127]:
train_df = pd.DataFrame({"Inches above 5ft":[5,9,13,12,10,11,8,9,10,12],
                  "Weight(lbs.)":[140,157,205,198,162,174,150,165,170,180]})

test_df = pd.DataFrame({"Inches above 5ft":[11,9,7,15],
                  "Weight(lbs.)":[150,152,195,167]})

In [128]:
train_df

   Inches above 5ft  Weight(lbs.)
0                 5           140
1                 9           157
2                13           205
3                12           198
4                10           162
5                11           174
6                 8           150
7                 9           165
8                10           170
9                12           180

In [129]:
test_df

   Inches above 5ft  Weight(lbs.)
0                11           150
1                 9           152
2                 7           195
3                15           167

In [130]:
def simple_linear_regression(X, y):
    '''
    Returns slope and intercept for a simple regression line
    
    inputs- Works best with numpy arrays, though other similar data structures will work fine.
        X - input data
        y - output data
        
    outputs - floats
    '''
    # initial sums
    n = float(len(X))
    sum_x = X.sum()
    sum_y = y.sum()
    sum_xy = (X*y).sum()
    sum_xx = (X**2).sum()
    
    # formula for w0
    slope = (sum_xy - (sum_x*sum_y)/n)/(sum_xx - (sum_x*sum_x)/n)
    
    # formula for w1
    intercept = sum_y/n - slope*(sum_x/n)
    
    return (intercept, slope)

In [135]:
import numpy as np
#Converting X to matrix
X_Train = np.array(train_df)
nrow = X_Train.shape[0]

# inserting ones into X
intercept = np.ones( (nrow,1) )
b2 = X_Train[:,0].reshape(-1, 1)
 
X = np.concatenate((intercept, b2), axis=1)
Y = X_Train[:,1].T

In [136]:
X_Train[:,0]

array([ 5,  9, 13, 12, 10, 11,  8,  9, 10, 12])

In [132]:
X

array([[ 1.,  5.],
       [ 1.,  9.],
       [ 1., 13.],
       [ 1., 12.],
       [ 1., 10.],
       [ 1., 11.],
       [ 1.,  8.],
       [ 1.,  9.],
       [ 1., 10.],
       [ 1., 12.]])

In [133]:
from numpy.linalg import inv

#Using (X'X)^(-1)X'Y 
b = inv(X.T.dot(X)).dot(X.T).dot(y)
print(b)

[90.51533742  8.03885481]

In [137]:
import tensorflow

/usr/local/Cellar/python3/3.6.1/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)